---
// Style Imports
import '../styles/global.css';
import '../styles/home.css';

// Component Imports
import Header from '../components/Astro/Header.astro';
// You can import components from any supported Framework here!
/* ASTRO:COMPONENT_IMPORTS */


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">


	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
	</style>
</head>
<body>
	<main>

		<Header />
	Below header stuff!
	</main>
</body>
</html>
