---
// Style Imports
import '../styles/global.css'
import Image from '../components/astro/Image.astro'
import Head from '../components/astro/Head.astro'
import '../styles/home.css'

let time = Math.random()
---

<html lang='en'>
  <style>
    header {
      display: flex;
      flex-direction: column;
      gap: 1em;
      /* max-width: min(100%, 78ch); */
    }
    h1 {
      font-size: 3.5em;
      font-weight: bold;
      margin: 0;
    }
    .shimmer {
  /* color: rgb(240, 12, 221); */
  background: -webkit-linear-gradient(7deg, #0cbaba, #380036);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 4.7s infinite;

    }
/* change color on hover */

.shimmer:hover {
  background: -webkit-linear-gradient(45deg, #0cbaba, #ffffff);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 4.7s infinite;
}


 @keyframes shimmer {
   0% {
  -webkit-mask-position:right/100% 100%;
   }
 100% {-webkit-mask-position:left}
}
  </style>

  <Head title='Astro Infinity - An Image Component For Astro' />

  <header class='flex m-auto mt-10 text-center'>
    <h1 class='font-bold mt-10 w-full pt-25  uppercase shimmer'>Astro Infinity</h1>
    <span class="-mt-7 text-light-900 italic">An Image Component For Astro</span>
    <div class='flex  flex-wrap mr-auto ml-auto object-center  text-center items-center'>
      <figure>
        <img
          width='500px'
          height='375px'
          class=''
          src='/assets/thisistheway.gif'
          alt='This Is the Way'
        />

        <figcaption class='font-semibold text-center'>1.6MB gif</figcaption>
      </figure>

      <figure>
        <Image
          width='500'
          height='375'
          flop='true'
          style=''
          src='/assets/thisistheway.gif'
          alt='This Is the Way'
        />

        <figcaption class='font-semibold text-center'>125KB webp</figcaption>
      </figure>
    </div>

    <h2 class="font-bold mt-5 text-gray-700 text-4xl">This Is The Way... To Better Images!</h2>
    <span class='text-sm'>
      Walking Mando by the awesome <a class='text-sky-400' href='https://linktr.ee/gingemar'>
        gingemar
      </a>
    </span>
  </header>
  <div class='flex m-auto mt-10 text-center pt-15'>
    <div class='flex flex-wrap mr-auto ml-auto object-center  text-center items-center'>
      <figure>
        <img
          width='400px'
          height='400px'
          class=''
          src='/assets/large.jpg'
          alt='To Inifinity and Beyond'
        />
        <figcaption class='font-semibold text-center'>845KB jpg</figcaption>
      </figure>
      <figure>
        <Image
          client:idle
          src='/assets/large.jpg'
          width='400'
          height='400'
          rotate=''
          alt='To Inifinity and Beyond'
          style='ml-10'
        />
        <figcaption class='font-semibold text-center'>7.7KB avif</figcaption>
      </figure>
    </div>
  </div>

  <div class='m-auto mt-10 text-center pt-15 pb-20'>
    <h2 class='text-2xl'>Works with external images too!</h2><br />
    <div class='flex m-auto  text-center '>
      <div class='flex flex-wrap mr-auto ml-auto object-center  text-center items-center'>
        <figure>
          <img
            width='400px'
            height='400px'
            class=''
            src='https://images.pexels.com/photos/87009/earth-soil-creep-moon-lunar-surface-87009.jpeg'
            alt='To Inifinity and Beyond'
          />
          <figcaption class='font-semibold text-center'>292KB jpg</figcaption>
        </figure>
        <figure>
          <Image
            client:idle
            src='https://images.pexels.com/photos/87009/earth-soil-creep-moon-lunar-surface-87009.jpeg'
            width='400'
            height='400'
            rotate=''
            alt='To Inifinity and Beyond'
            style='ml-10'
          />
          <figcaption class='font-semibold text-center'>2KB avif</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <!-- ssr vs preload -->
  <div class='m-auto mt-10 text-center pt-15 pb-20'>
    <h2 class='text-2xl'>
      Image componenet defaults to using an api call (SSR) but you can also preload all assets for a
      completely static site! <br /> (compare the two sources of the images below)
    </h2><br />
    <div class='flex m-auto  text-center '>
      <div class='flex flex-wrap mr-auto ml-auto object-center  text-center items-center'>
        <figure>
          <Image
            client:idle
            src='https://images.pexels.com/photos/33684/astronaut-spacewalk-iss-tools.jpg'
            width='400'
            height='266'
            rotate=''
            alt='Hello From Space'
            style=''
          />
          <figcaption class='font-semibold text-center'>Using Image API (SSR)</figcaption>
        </figure>
        <figure>
          <Image
            client:idle
            src='https://images.pexels.com/photos/33684/astronaut-spacewalk-iss-tools.jpg'
            width='400'
            height='266'
            rotate=''
            alt='Hello From Space'
            style='ml-10'
            preload='true'
          />
          <figcaption class='font-semibold text-center'>Preloaded Image (Static)</figcaption>
        </figure>
      </div>
    </div>
  </div>
</html>
