---
const { title } = Astro.props
---

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <title>{title}</title>
  <meta
    http-equiv='Accept-CH'
    content='DPR, Viewport-Width, Width, DPR, Save-Data, Downlink, Sec-CH-Width'
  />

  <link rel='icon' type='image/x-icon' href='favicon.ico' />
</head>
